/******************************************************************

Variables

******************************************************************/

$black:             #000000;
$white:             #ffffff;


$alpha1:			0.1;
$alpha9:			0.9;